@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
/* base css start */
*{
    margin: 0;
}

body{
    font-family: 'Electrolize', sans-serif;
    background-color: rgb(20, 19, 19);
}

.container{
    background-color: black;
    color: white;
}

/* base css end */




/* navbar start */

.navbar{
    background-color: black;
    height: 60px;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar-wrapper{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0% 50px;
}

.logo{
    font-size: 30px;
    color: rgb(255, 70, 70)
}

.menu-list{
    display:flex;
    list-style: none;
    column-gap: 99px;
    padding: 0;
}

.menu-list-item{
    cursor: pointer;

}
.menu-list-item a{
    color: white;
    text-decoration: none;
}
.menu-list-item:hover{
    font-weight: bold;
}

.menu-list-item:active{
    font-weight: bold;
}

/* navbar end */




/* sidebar start */

.sidebar{
    background-color: black;
    color: white;
    height: 100%;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    row-gap: 40px;
    position: fixed;
    top: 0;
}

.sidebar i{
    color: white;
    font-size: 20px;
    cursor: pointer;
}

/* sidebar end */


.movie-item-img{
   width: 380px;
   height: 295px;
   margin: 0 auto;
   display: block;
   transition: 0.8s all ease-in-out;
   border-radius: 9px;
}

.movie-item:hover .movie-item-img{
    transform: scale(1.1);
    z-index: 2;
}

.write{
    color: white;
    width: 900px;
    margin: auto;
    text-indent: 50px;
    line-height: 40px;
}

.başlık{
    color: white;
    text-align: center;
}

.altbaşlık{
    color: white;
    text-align: center;
}























